[submodule "commons-booking/admin/includes/CMB2"]
	path = commons-booking/admin/includes/CMB2
	url = git@github.com:WebDevStudios/CMB2.git
[submodule "commons-booking/includes/CPT_Core"]
	path = commons-booking/includes/CPT_Core
	url = git@github.com:WebDevStudios/CPT_Core.git
[submodule "commons-booking/includes/Taxonomy_Core"]
	path = commons-booking/includes/Taxonomy_Core
	url = git@github.com:WebDevStudios/Taxonomy_Core.git
[submodule "commons-booking/admin/includes/WP-Admin-Notice"]
	path = commons-booking/admin/includes/WP-Admin-Notice
	url = git@github.com:nathanielks/wordpress-admin-notice.git
[submodule "commons-booking/admin/includes/WP-Contextual-Help"]
	path = commons-booking/admin/includes/WP-Contextual-Help
	url = git@github.com:voceconnect/wp-contextual-help.git
[submodule "commons-booking/admin/includes/PointerPlus"]
	path = commons-booking/admin/includes/PointerPlus
	url = git@github.com:Mte90/pointerplus.git
[submodule "commons-booking/admin/includes/CMB2-Shortcode"]
	path = commons-booking/admin/includes/CMB2-Shortcode
	url = git@github.com:jtsternberg/Shortcode_Button.git
[submodule "commons-booking/includes/Widgets-Helper"]
	path = commons-booking/includes/Widgets-Helper
	url = git@github.com:jabga/WordPress-Widgets-Helper-Class.git
[submodule "commons-booking/admin/includes/CMB2-Post-Search-Field"]
	path = commons-booking/admin/includes/CMB2-Post-Search-Field
	url = https://github.com/WebDevStudios/CMB2-Post-Search-field
[submodule "commons-booking/admin/includes/CMB2-Attached-Posts-Field"]
	path = commons-booking/admin/includes/CMB2-Attached-Posts-Field
	url = https://github.com/WebDevStudios/cmb2-attached-posts
[submodule "commons-booking/admin/includes/CMB2-GoogleMaps"]
	path = commons-booking/admin/includes/CMB2-GoogleMaps
	url = git@github.com:mustardBees/cmb_field_map.git
